

body { background-color: #000000 ; font-family: 	Times New Roman; }
h1, h2, h3, h4, h5, h6 {color: #f7bb4a; }
h1 {font: bold cursive;}
ul, ol {color: white;}
p {color: white; background-color: none;}

a:link { color: #98ff98;}
a:visited { color: #f7bb4a;}
 
img {
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(1, 5, 9, 10)
}
